# Imports (compatible for Python 2 and Python 3)

In [2]:
try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

In [3]:
API_URL = 'https://fb55.carto.com:443/api/v2/sql?q='

def queryCartoDB(query, formatting = 'CSV', source = API_URL):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

# Task 1

In [4]:
query = '''SELECT * 
FROM fb55.citibike 
WHERE tripduration <= 180
order by start_station_id ASC, tripduration DESC  
'''
table = get_data(query)
table.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9059,-73.993929,107,2015-02-03 10:10:00+00,2015-02-03 10:12:00+00,72,8998,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19039,Subscriber,1980.0,2
1,NaN,Franklin St & W Broadway,NaN,44151,-74.006667,149,2015-02-07 17:27:00+00,2015-02-07 17:29:00+00,79,44145,40.719116,257,Lispenard St & Broadway,40.719392,-74.002472,15621,Subscriber,1973.0,1
2,NaN,St James Pl & Pearl St,NaN,1791,-74.000165,172,2015-02-01 12:08:00+00,2015-02-01 12:10:00+00,82,1722,40.711174,2009,Catherine St & Monroe St,40.711174,-73.996826,16918,Subscriber,1970.0,2
3,NaN,St James Pl & Pearl St,NaN,37931,-74.000165,166,2015-02-06 18:47:00+00,2015-02-06 18:49:00+00,82,37904,40.711174,296,Division St & Bowery,40.714131,-73.997047,16573,Subscriber,1989.0,1
4,NaN,St James Pl & Pearl St,NaN,33591,-74.000165,164,2015-02-06 10:56:00+00,2015-02-06 10:59:00+00,82,33557,40.711174,2009,Catherine St & Monroe St,40.711174,-73.996826,19322,Subscriber,1986.0,1
5,NaN,St James Pl & Pearl St,NaN,40936,-74.000165,160,2015-02-07 11:02:00+00,2015-02-07 11:05:00+00,82,40923,40.711174,2009,Catherine St & Monroe St,40.711174,-73.996826,20941,Subscriber,1986.0,1
6,NaN,St James Pl & Pearl St,NaN,5810,-74.000165,151,2015-02-01 19:24:00+00,2015-02-01 19:26:00+00,82,5744,40.711174,2009,Catherine St & Monroe St,40.711174,-73.996826,18603,Subscriber,1962.0,1
7,NaN,St James Pl & Pearl St,NaN,43767,-74.000165,151,2015-02-07 16:49:00+00,2015-02-07 16:52:00+00,82,43759,40.711174,2009,Catherine St & Monroe St,40.711174,-73.996826,20941,Subscriber,1986.0,1
8,NaN,St James Pl & Pearl St,NaN,3787,-74.000165,144,2015-02-01 15:34:00+00,2015-02-01 15:36:00+00,82,3720,40.711174,2009,Catherine St & Monroe St,40.711174,-73.996826,20906,Subscriber,1984.0,1
9,NaN,St James Pl & Pearl St,NaN,4787,-74.000165,143,2015-02-01 17:12:00+00,2015-02-01 17:14:00+00,82,4719,40.711174,296,Division St & Bowery,40.714131,-73.997047,18634,Subscriber,1989.0,1

In [5]:
table.tail(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
1791,NaN,South End Ave & Liberty St,NaN,44847,-74.015756,162,2015-02-07 18:55:00+00,2015-02-07 18:57:00+00,3002,44843,40.711512,363,West Thames St,40.708347,-74.017134,17658,Subscriber,1981.0,2
1792,NaN,South End Ave & Liberty St,NaN,39910,-74.015756,151,2015-02-07 08:20:00+00,2015-02-07 08:23:00+00,3002,39892,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,15008,Subscriber,1961.0,1
1793,NaN,South End Ave & Liberty St,NaN,32655,-74.015756,150,2015-02-06 09:02:00+00,2015-02-06 09:05:00+00,3002,32618,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,20131,Subscriber,1978.0,2
1794,NaN,South End Ave & Liberty St,NaN,21924,-74.015756,134,2015-02-05 05:58:00+00,2015-02-05 06:00:00+00,3002,21869,40.711512,363,West Thames St,40.708347,-74.017134,20547,Subscriber,1974.0,1
1795,NaN,South End Ave & Liberty St,NaN,28336,-74.015756,132,2015-02-05 17:37:00+00,2015-02-05 17:39:00+00,3002,28292,40.711512,363,West Thames St,40.708347,-74.017134,20663,Subscriber,1968.0,2
1796,NaN,South End Ave & Liberty St,NaN,44134,-74.015756,118,2015-02-07 17:25:00+00,2015-02-07 17:27:00+00,3002,44128,40.711512,363,West Thames St,40.708347,-74.017134,17272,Subscriber,1982.0,1
1797,NaN,South End Ave & Liberty St,NaN,41351,-74.015756,108,2015-02-07 12:07:00+00,2015-02-07 12:09:00+00,3002,41340,40.711512,363,West Thames St,40.708347,-74.017134,18470,Subscriber,1979.0,1
1798,NaN,South End Ave & Liberty St,NaN,8917,-74.015756,99,2015-02-03 09:37:00+00,2015-02-03 09:39:00+00,3002,8857,40.711512,3002,South End Ave & Liberty St,40.711512,-74.015756,18107,Subscriber,1981.0,1
1799,NaN,South End Ave & Liberty St,NaN,13826,-74.015756,85,2015-02-04 08:16:00+00,2015-02-04 08:18:00+00,3002,13778,40.711512,3002,South End Ave & Liberty St,40.711512,-74.015756,16585,Subscriber,1967.0,1
1800,NaN,South End Ave & Liberty St,NaN,27401,-74.015756,79,2015-02-05 16:29:00+00,2015-02-05 16:30:00+00,3002,27360,40.711512,3002,South End Ave & Liberty St,40.711512,-74.015756,17061,Subscriber,1954.0,1

In [6]:
query1 = '''SELECT * FROM fb55.citibike ORDER BY CARTODB_ID DESC LIMIT 10'''
table = get_data(query1)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965,2
1,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983,2
2,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986,1
3,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986,2
4,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953,1
5,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960,2
6,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974,1
7,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959,1
8,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984,1
9,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983,2

In [7]:
query2 = '''SELECT DISTINCT start_station_id FROM fb55.citibike 
'''
table = get_data(query2)
table

     start_station_id  Unnamed: 1
0                 120         NaN
1                 285         NaN
2                 251         NaN
3                 195         NaN
4                 453         NaN
5                 144         NaN
6                 266         NaN
7                 263         NaN
8                 216         NaN
9                 328         NaN
10                353         NaN
11                212         NaN
12                383         NaN
13                538         NaN
14                217         NaN
15                300         NaN
16                456         NaN
17                128         NaN
18                223         NaN
19                244         NaN
20                494         NaN
21                403         NaN
22                260         NaN
23                445         NaN
24                411         NaN
25                377         NaN
26                427         NaN
27                232         NaN
28                331         NaN
29                416         NaN
..                ...         ...
297               127         NaN
298               397         NaN
299               310         NaN
300               454         NaN
301               531         NaN
302               268         NaN
303               329         NaN
304               518         NaN
305               514         NaN
306               437         NaN
307               270         NaN
308               356         NaN
309               399         NaN
310               119         NaN
311               384         NaN
312               151         NaN
313               362         NaN
314               262         NaN
315               313         NaN
316              2008         NaN
317               276         NaN
318               470         NaN
319               455         NaN
320               496         NaN
321               312         NaN
322               318         NaN
323               497         NaN
324               305         NaN
325               264         NaN
326               483         NaN

[327 rows x 2 columns]

In [8]:
query3 = '''SELECT 
COUNT(DISTINCT cartodb_id) AS Num_trips FROM fb55.citibike 
'''
table = get_data(query3)
table

   num_trips  Unnamed: 1
0      46200         NaN

In [9]:
query4='''SELECT 
Min(tripduration) as Min, Max(tripduration) as Max, avg(tripduration) as Avg FROM fb55.citibike 
'''
table = get_data(query4)
table

   min    max         avg
0   60  43016  675.865823

# Task 2

In [10]:
query21 = '''SELECT * FROM fb55.citibike 
where EXTRACT(YEAR FROM starttime)=2015
AND EXTRACT(DAY FROM starttime)=2
AND EXTRACT(MONTH FROM starttime)=2
'''
table = get_data(query21)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 5 St & Avenue C,NaN,11,-73.979955,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,6920,40.722992,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
3,NaN,9 Ave & W 16 St,NaN,627,-74.004432,444,2015-02-02 00:40:00+00,2015-02-02 00:48:00+00,463,6477,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20233,Subscriber,1971.0,1
4,NaN,9 Ave & W 16 St,NaN,991,-74.004432,438,2015-02-02 00:40:00+00,2015-02-02 00:47:00+00,463,6478,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20264,Subscriber,1981.0,2
5,NaN,W 33 St & 7 Ave,NaN,1037,-73.990931,498,2015-02-02 06:20:00+00,2015-02-02 06:28:00+00,492,6526,40.750200,493,W 45 St & 6 Ave,40.756800,-73.982912,16013,Subscriber,1962.0,2
6,NaN,W 27 St & 7 Ave,NaN,6510,-73.993915,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,6442,40.746647,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
7,NaN,E 11 St & 1 Ave,NaN,6511,-73.984267,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,6443,40.729538,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
8,NaN,Peck Slip & Front St,NaN,6512,-74.001670,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,6444,40.707873,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
9,NaN,E 16 St & 5 Ave,NaN,6513,-73.992390,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,6445,40.737262,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
10,NaN,W 41 St & 8 Ave,NaN,6514,-73.990026,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,6446,40.756405,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
11,NaN,Dean St & 4 Ave,NaN,6515,-73.978951,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,6447,40.683125,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
12,NaN,9 Ave & W 18 St,NaN,6516,-74.003664,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,6448,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
13,NaN,Reade St & Broadway,NaN,6517,-74.005628,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,6449,40.714505,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
14,NaN,8 Ave & W 31 St,NaN,6518,-73.994811,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,6450,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
15,NaN,1 Ave & E 15 St,NaN,6519,-73.981656,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,6451,40.732219,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
16,NaN,Broadway & E 14 St,NaN,6520,-73.990741,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,6452,40.734546,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
17,NaN,E 2 St & Avenue B,NaN,6521,-73.983688,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,6453,40.722174,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
18,NaN,Peck Slip & Front St,NaN,6522,-74.001670,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,6454,40.707873,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
19,NaN,Columbia St & Rivington St,NaN,6523,-73.980166,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,6455,40.717400,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
20,NaN,W 20 St & 8 Ave,NaN,6524,-74.000040,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,6456,40.743453,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
21,NaN,St Marks Pl & 2 Ave,NaN,6525,-73.987140,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,6457,40.728419,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
22,NaN,W 20 St & 8 Ave,NaN,6526,-74.000040,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,6458,40.743453,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
23,NaN,W 37 St & 5 Ave,NaN,6527,-73.983390,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,6459,40.750380,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
24,NaN,W 13 St & 6 Ave,NaN,6528,-73.997044,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,6460,40.736494,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
25,NaN,10 Ave & W 28 St,NaN,6529,-74.001768,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,6461,40.750664,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
26,NaN,E 25 St & 2 Ave,NaN,6530,-73.979738,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,6462,40.739126,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
27,NaN,W 4 St & 7 Ave S,NaN,6531,-74.002939,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,6463,40.734011,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
28,NaN,W 20 St & 7 Ave,NaN,6532,-73.997262,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,6464,40.742388,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
29,NaN,W 46 St & 11 Ave,NaN,6533,-73.996674,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,6465,40.763414,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,NaN,Allen St & E Houston St,NaN,7938,-73.989111,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,7871,40.722055,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
1430,NaN,Broadway & W 29 St,NaN,7939,-73.988557,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,7872,40.746201,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
1431,NaN,W 56 St & 6 Ave,NaN,7940,-73.977225,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,7873,40.763406,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
1432,NaN,10 Ave & W 28 St,NaN,7941,-74.001768,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,7874,40.750664,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
1433,NaN,W 26 St & 8 Ave,NaN,7942,-73.997236,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,7875,40.747348,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
1434,NaN,Broadway & E 22 St,NaN,7943,-73.989551,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,7876,40.740343,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
1435,NaN,E 47 St & 2 Ave,NaN,7944,-73.970325,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,7877,40.753231,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
1436,NaN,Broadway & W 32 St,NaN,7945,-73.988084,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,7878,40.748549,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
1437,NaN,8 Ave & W 31 St,NaN,7946,-73.994811,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,7879,40.750450,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
1438,NaN,9 Ave & W 18 St,NaN,7947,-74.003664,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,7880,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
1439,NaN,LaGuardia Pl & W 3 St,NaN,7948,-73.998102,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,7881,40.729170,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
1440,NaN,W 26 St & 8 Ave,NaN,7949,-73.997236,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,7882,40.747348,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
1441,NaN,Cliff St & Fulton St,NaN,7950,-74.005301,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,7883,40.708235,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
1442,NaN,Rivington St & Ridge St,NaN,7951,-73.983299,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,7884,40.718502,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
1443,NaN,W 49 St & 8 Ave,NaN,7952,-73.987882,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,7885,40.762272,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
1444,NaN,Pershing Square North,NaN,7953,-73.977706,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,7886,40.751873,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
1445,NaN,E 30 St & Park Ave S,NaN,7954,-73.983035,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,7887,40.744449,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
1446,NaN,Sullivan St & Washington Sq,NaN,7955,-73.999061,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,7888,40.730477,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
1447,NaN,W 42 St & 8 Ave,NaN,7956,-73.990985,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,7889,40.757570,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
1448,NaN,Broadway & E 22 St,NaN,7957,-73.989551,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,7890,40.740343,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
1449,NaN,1 Ave & E 15 St,NaN,7958,-73.981656,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,7891,40.732219,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
1450,NaN,6 Ave & W 33 St,NaN,7959,-73.988484,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,7892,40.749013,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
1451,NaN,9 Ave & W 22 St,NaN,7960,-74.001971,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,7893,40.745497,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
1452,NaN,E 16 St & 5 Ave,NaN,7961,-73.992390,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,7894,40.737262,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
1453,NaN,E 10 St & 5 Ave,NaN,7962,-73.995101,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,7895,40.733320,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
1454,NaN,W 44 St & 5 Ave,NaN,7963,-73.980144,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,7896,40.755003,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
1455,NaN,Spruce St & Nassau St,NaN,7964,-74.005524,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,7897,40.711464,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
1456,NaN,W 13 St & 6 Ave,NaN,7965,-73.997044,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,7898,40.736494,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
1457,NaN,W 22 St & 8 Ave,NaN,7966,-73.999154,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,7899,40.744751,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
1458,NaN,Broadway & E 14 St,NaN,7967,-73.990741,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,7900,40.734546,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2

In [19]:
query22 = '''
SELECT AVG(tripduration) FROM fb55.citibike
WHERE date_part('dow', starttime)=0 OR date_part('dow', starttime)=6'''
table = get_data(query22)
table

          avg  Unnamed: 1
0  662.942181         NaN

In [20]:
query23 = '''
SELECT AVG(tripduration) FROM fb55.citibike
WHERE date_part('dow', starttime)<>0 AND date_part('dow', starttime)<>6 '''
table = get_data(query23)
table

          avg  Unnamed: 1
0  681.052292         NaN

# Task 3

In [13]:
query31 = '''SELECT start_station_latitude, start_station_longitude FROM fb55.citibike 
GROUP BY start_station_latitude, start_station_longitude
ORDER BY start_station_latitude
'''
table = get_data(query31)
table

     start_station_latitude  start_station_longitude
0                 40.680342               -73.955769
1                 40.680983               -73.950048
2                 40.682166               -73.953990
3                 40.682232               -73.961458
4                 40.683125               -73.978951
5                 40.683178               -73.965964
6                 40.683826               -73.976323
7                 40.684157               -73.969223
8                 40.684568               -73.958811
9                 40.685144               -73.953809
10                40.685282               -73.978058
11                40.685396               -73.974315
12                40.686501               -73.965633
13                40.686768               -73.959282
14                40.686832               -73.979677
15                40.686919               -73.976682
16                40.687534               -73.972652
17                40.687645               -73.969689
18                40.688070               -73.984106
19                40.688226               -73.979382
20                40.688515               -73.964763
21                40.688646               -73.982634
22                40.689004               -73.960239
23                40.689269               -73.989129
24                40.689407               -73.968855
25                40.689810               -73.974931
26                40.689888               -73.981013
27                40.690284               -73.987071
28                40.690649               -73.956431
29                40.690893               -73.996123
..                      ...                      ...
297               40.759711               -73.974023
298               40.759923               -73.976485
299               40.760094               -73.994618
300               40.760193               -73.991255
301               40.760203               -73.964785
302               40.760301               -73.998842
303               40.760647               -73.984427
304               40.760660               -73.980420
305               40.760875               -74.002777
306               40.760958               -73.967245
307               40.761628               -73.972924
308               40.762272               -73.987882
309               40.762288               -73.983362
310               40.762699               -73.993012
311               40.763406               -73.977225
312               40.763414               -73.996674
313               40.763441               -73.982681
314               40.763707               -73.985162
315               40.764397               -73.973715
316               40.764618               -73.987895
317               40.765265               -73.981923
318               40.765849               -73.986905
319               40.765909               -73.976342
320               40.766697               -73.990617
321               40.766953               -73.981693
322               40.767272               -73.993929
323               40.768254               -73.988639
324               40.769155               -73.981918
325               40.770513               -73.988038
326               40.771522               -73.990541

[327 rows x 2 columns]

In [14]:
query2 = '''SELECT start_station_name, COUNT(DISTINCT cartodb_id) FROM fb55.citibike
GROUP BY start_station_name
'''
table = get_data(query2)
table

                start_station_name  count
0                 10 Ave & W 28 St    203
1                 11 Ave & W 27 St    172
2                 11 Ave & W 41 St    229
3                 11 Ave & W 59 St    120
4                 12 Ave & W 40 St     91
5                  1 Ave & E 15 St    397
6                  1 Ave & E 44 St    110
7                  2 Ave & E 31 St    302
8                  2 Ave & E 58 St     64
9          3 Ave & Schermerhorn St     19
10                 5 Ave & E 29 St    230
11               6 Ave & Broome St    112
12                6 Ave & Canal St    101
13                 6 Ave & W 33 St    296
14                 8 Ave & W 31 St    530
15                 8 Ave & W 33 St    387
16                 8 Ave & W 52 St    133
17                 9 Ave & W 14 St    111
18                 9 Ave & W 16 St    178
19                 9 Ave & W 18 St    112
20                 9 Ave & W 22 St    281
21                 9 Ave & W 45 St    189
22         Adelphi St & Myrtle Ave     92
23         Allen St & E Houston St    207
24            Allen St & Hester St    156
25         Allen St & Rivington St    206
26          Ashland Pl & Hanson Pl    100
27   Atlantic Ave & Fort Greene Pl     36
28        Atlantic Ave & Furman St      5
29              Avenue D & E 12 St     19
..                             ...    ...
297               W 4 St & 7 Ave S    208
298                W 51 St & 6 Ave    192
299               W 52 St & 11 Ave    114
300                W 52 St & 5 Ave    146
301                W 52 St & 9 Ave    107
302               W 53 St & 10 Ave     81
303                W 54 St & 9 Ave     64
304               W 56 St & 10 Ave    140
305                W 56 St & 6 Ave    164
306               W 59 St & 10 Ave    100
307          Warren St & Church St     71
308    Washington Ave & Greene Ave     21
309      Washington Ave & Park Ave     50
310                Washington Park     37
311          Washington Pl & 6 Ave    113
312       Washington Pl & Broadway    222
313            Washington Square E    164
314  Washington St & Gansevoort St    122
315        Water - Whitehall Plaza     70
316        Watts St & Greenwich St     73
317         W Broadway & Spring St    159
318          West St & Chambers St    162
319                 West Thames St    107
320       W Houston St & Hudson St    193
321           William St & Pine St     95
322       Willoughby Ave & Hall St     35
323   Willoughby Ave & Walworth St     27
324       Willoughby St & Fleet St     57
325   Wythe Ave & Metropolitan Ave     45
326               York St & Jay St    106

[327 rows x 2 columns]

In [15]:
#Calculcated the distance of 500m in degrees as .0045218
query2 = '''SELECT start_station_name, start_station_latitude, start_station_longitude, COUNT(DISTINCT cartodb_id) 
FROM fb55.citibike
WHERE (start_station_latitude>40.7531 AND start_station_latitude<40.7622)
AND (start_station_longitude<-73.9811 AND start_station_longitude>-73.9902)
GROUP BY start_station_name, start_station_latitude, start_station_longitude
'''
table = get_data(query2)
table

   start_station_name  start_station_latitude  start_station_longitude  count
0  Broadway & W 41 St               40.755136               -73.986580    251
1  Broadway & W 49 St               40.760647               -73.984427    213
2     W 41 St & 8 Ave               40.756405               -73.990026    507
3     W 43 St & 6 Ave               40.755273               -73.983169    112
4     W 45 St & 6 Ave               40.756800               -73.982912    141
5     W 45 St & 8 Ave               40.759291               -73.988597    141

In [21]:
query33 = '''SELECT Q.start_station_id, Q.Max FROM
(SELECT max(tripduration) as Max, start_station_id 
FROM fb55.citibike
WHERE (start_station_latitude>40.7531 AND start_station_latitude<40.7622)
AND (start_station_longitude<-73.9811 AND start_station_longitude>-73.9902)
AND (date_part('dow', starttime)=0 OR date_part('dow', starttime)=6)
GROUP BY start_station_id
ORDER BY Max ASC) as Q
LIMIT 1
'''
table=get_data(query33)
table

   start_station_id   max
0               465  1788